<!--商品編集画面-->
<div class="container">
  <div class="row">
    <div class="mx-auto">

      <div class="title" >登録情報更新</div>

      <%= form_with model: @item, url: admin_item_path, local:true do |f| %>
        <h6>商品画像(追加する場合以前登録した画像は残りません)</h6>
        <%= f.attachment_field :item_images_images, multiple: true %>
        <!--　:(子のテーブル名)_(image_id + s) =>:article_images_images (2つの"s"が必要です)。ただしrefileを使用するときはidを省略するので記述しない。
        属性を追加：~~~ , multiple: true　-->

        <!--このように設定すると、単一のファイルではなく複数ファイルの配列を受け取るようになります。（ファイルは1つでも可）
        ※その後の処理の流れでは、アップロードされたファイル毎に個別で種々の処理が実行されていきます(*1)。-->

        <h6>商品名</h6>
        <%= f.text_field :name %>

        <h6>商品説明</h6>
        <%= f.text_area :introduction, size: "50x10" %>

        <h6>税抜き価格</h6>
        <%= f.text_field :price %>円

        <br /><%= f.submit '編集完了', class: "mt-3 btn btn-success" %>
      <% end %>

    </div>
  </div>
</div>