<div>
  
  <div class="product_detail_title d-flex flex-colum text-center bg-white">
    商品詳細
    
    <div class="d-flex flex-row">
      <div class="sidebar mr-auto"></div>

      <div class="image_box">
        <% if @item_images.present? %>
          <% @item_images.each do |item_image| %>
            <%= attachment_image_tag item_image, :image, :fill, 300,300, format: 'jpeg' %>
          <% end %>
        <% elsif %>
          <%= image_tag('no_image.jpg') %>
        <% end %>
      </div>

      <div class="product_data bg-white">
        <div>商品名　<%= @item.name %></div>
        <div>商品説明　<%= @item.introduction %></div>
        <div>税込み価格(税抜き価格)　<%= @item.price * 1.10 %>(<%= @item.price %>)円</div>
        <div>
          <%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %>
        </div>
      </div>
    </div>
    
    <div class="sidebar ml-auto"></div>
  </div>
  
</div>


