<div class="container">
  <div class="col-12 offset-4">
    <h2>管理者登録画面</h2>

    <%= form_with model: @admin, url: admin_registration_path, local: true do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :Eメール %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "xxxyyyzzz@sample.co.jp",size: "40" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>

    <!--6文字以上表記以下内容の削除。一応残しておく-->
    <%# if @minimum_password_length %>
    <!--<em>(<%#= @minimum_password_length %> characters minimum)</em>-->
    <%# end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上" %>
      </div>

      <div class="field">
        <%= f.label :パスワード再入力 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-warning mt-3" %>
      </div>
    <% end %>

    <%= render "admins/shared/links" %>
  </div>
</div>
